The Arabic Content Intelligence Engine.json
{
  "name": "The Arabic Content Intelligence Engine Gemini Project : 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -64
      ],
      "id": "bb301da7-4be5-4ec8-aa67-62a35f28e20b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".post-title a",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": ".post-title a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -224,
        -64
      ],
      "id": "99428670-1df8-472d-9630-68525cee8e01",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article_title",
              "cssSelector": "h1"
            },
            {
              "key": "article_content",
              "cssSelector": "article p"
            },
            {
              "key": "article_date",
              "cssSelector": "time"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        608,
        -48
      ],
      "id": "db7e216a-b510-4d6f-b001-518f1afe85b9",
      "name": "HTML1"
    },
    {
      "parameters": {
        "url": "https://adigitalboom.com/",
        "additionalFields": {
          "renderJs": false,
          "stealthProxy": false
        }
      },
      "type": "n8n-nodes-scrapingbee.ScrapingBee",
      "typeVersion": 1,
      "position": [
        -384,
        -64
      ],
      "id": "48503943-9a8d-4743-9acb-9aeeb3311ec1",
      "name": "Scrape Titles",
      "alwaysOutputData": true,
      "credentials": {
        "ScrapingBeeApi": {
          "id": "ud2xXbHwtJtFnDHM",
          "name": "ScrapingBee account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "height": 592,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -96
      ],
      "typeVersion": 1,
      "id": "d7cf0d74-78dc-4dc6-b921-7983f6933ad5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const titles = $input.item.json.title;\nconst links = $input.item.json.link;\n\nreturn titles.map((title, i) => ({\n  json: {\n    title: title,\n    link: links[i] || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ],
      "id": "60f0961a-3d8b-44e5-a0c3-b7b15a85e487",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputText": "={{ $json.title}}",
        "categories": {
          "categories": [
            {
              "category": "MiddleEast",
              "description": "The article's title is related to the Middle East."
            },
            {
              "category": "Other",
              "description": "The article's title has no relation to the Middle East."
            }
          ]
        },
        "options": {
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -640,
        128
      ],
      "id": "944f73ae-12e3-4a29-9edc-b1bd56a61264",
      "name": "Text Classifier(MiddleEast)",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://www.adigitalboom.com/{{ $json.link }}",
        "additionalFields": {
          "renderJs": false,
          "stealthProxy": false
        }
      },
      "type": "n8n-nodes-scrapingbee.ScrapingBee",
      "typeVersion": 1,
      "position": [
        608,
        272
      ],
      "id": "49054c87-63c9-490c-b9ee-f9c823aab549",
      "name": "Scrape (article)",
      "alwaysOutputData": true,
      "credentials": {
        "ScrapingBeeApi": {
          "id": "ud2xXbHwtJtFnDHM",
          "name": "ScrapingBee account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        112
      ],
      "id": "3ec46b58-0e36-4a8e-a565-ba828e497f20",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        544,
        -352
      ],
      "id": "07e8b244-498b-4031-b331-30f26d4c2aa2",
      "name": "Summarization Chain",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -208
      ],
      "id": "0b2a8c52-8078-43c8-b236-2f0e8d3203b0",
      "name": "Create a row",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        -208
      ],
      "id": "2dcfd43f-c122-4c37-a138-1c6cc3746027",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6lJn0ubuhMO65hpm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        352
      ],
      "id": "6532a7f7-2b81-4681-ac8e-a57f1b5897b9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "6lJn0ubuhMO65hpm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "height": 1072,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -384
      ],
      "typeVersion": 1,
      "id": "fb3b412f-cfcc-4ed4-b9eb-8042b81da7b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        96
      ],
      "id": "6252abfc-d0e1-4d63-8df2-56476ad53c68",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "## I'm a note \nError Handling\n",
        "height": 256,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        0
      ],
      "typeVersion": 1,
      "id": "0a571377-896c-4156-add2-468f63b71074",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "--",
        "text": "={{ $json.execution.error.message }}\n{{ $json.workflow.name }}\n{{ $json.execution.lastNodeExecuted }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        96
      ],
      "id": "3712d66f-485c-44c8-bf69-f99150cf580b",
      "name": "General Error Handling",
      "webhookId": "a2bea976-a5fa-422e-89e9-47fcb2904b47",
      "credentials": {
        "telegramApi": {
          "id": "DnbSbjdUW7G0zVrK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "--",
        "text": "={{$node[\"Code in JavaScript\"].count()}}articles related to the Middle East were extracted, summarized, and their titles and links added to Google Sheets. The summary was then added to the Supabase database.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        96
      ],
      "id": "385ddf01-992c-49f3-8a56-7232b816f273",
      "name": "Done Message",
      "webhookId": "a2bea976-a5fa-422e-89e9-47fcb2904b47",
      "credentials": {
        "telegramApi": {
          "id": "DnbSbjdUW7G0zVrK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        -352
      ],
      "id": "60e5c752-6356-4c48-ae85-cef5f89bb5c8",
      "name": "Wait",
      "webhookId": "5a6accff-13df-4a9c-82e6-77c58f4167a6"
    },
    {
      "parameters": {
        "chatId": "--",
        "text": "={{ $json.execution.error.message }}\n{{ $json.workflow.name }}\n{{ $json.execution.lastNodeExecuted }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        112
      ],
      "id": "a75762bd-4e03-4d89-a09c-f2c517ec0751",
      "name": "Error Handling",
      "webhookId": "a2bea976-a5fa-422e-89e9-47fcb2904b47",
      "credentials": {
        "telegramApi": {
          "id": "DnbSbjdUW7G0zVrK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Titles": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Text Classifier(MiddleEast)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier(MiddleEast)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape (article)": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Done Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape (article)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier(MiddleEast)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "General Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "073b9727-bd1f-499d-8db2-f4865d3a5aac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4b8fff4a65cab833f5d6c53c5e80148d31dccee2a7980eff9898730f1887095"
  },
  "id": "YYDZIT2kUaON3cVT",
  "tags": [
    {
      "name": "Gemini Projects",
      "id": "26MYGrnVUyCEaVqr",
      "updatedAt": "2026-05-21T17:53:13.588Z",
      "createdAt": "2026-05-21T17:53:13.588Z"
    }
  ]
}